@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;

}


.hover-bg-white:hover {
    background-color: #fff !important;
}

.hover-text-warning:hover {
    color: #ffc107 !important;
}
.sidebar {
    background-color: #ffc107; /* Adjust the background color */
    color: #333; /* Adjust the text color */
  }

  .sidebar a {
    color: #333;
    text-decoration: none;
  }

  .sidebar a:hover {
    background-color: #fff;
    color: #ffc107;
  }

  .sidebar .menu-links li.active a {
    font-weight: bold;
    background-color: #fff;
    color: #ffc107;
  }





